.contactleft{
    flex-basis: 35%;
}
.contactright{
    flex-basis: 60%;
}

.contactleft p{
    margin-top: 30px;

}

.contactleft p i{
    color: #f97316;
    margin-right: 15px;
    font-size: 25px;
}

.socialicons{
    margin-top: 30px;
}

.socialicons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.socialicons a:hover{
    color: #f97316;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background: #f97316;
    font-size: 20px;
}
.contactright form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:#3F3F46 ;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font: 18px;
    border-radius: 6px;
    resize: none;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #0F212D;
    font-weight:300 ;
    margin-top: 20px;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}